@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
  //   @include nb-auth-global(); // append the install mixin inside of the nb-install
};


/* You can add global styles to this file, and also import other style files */

.nb-theme-default nb-layout .layout .layout-container nb-sidebar.fixed,
.nb-theme-default nb-layout .layout .layout-container nb-sidebar .main-container-fixed {
  top: 0 !important;
}

.menu-sidebar {
  &.compacted {
    nb-menu .menu-item .menu-icon {
      margin: 0 !important;
    }

    .logo-container .logo {
      display: none;
    }

   nb-sidebar-header {
      padding: 0.8rem;
    }
  }
  .logo-container {
    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);
      nb-icon {
        font-size: 1.75rem;
      }
    }

    .logo {
      padding: 0;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
      border-left: none !important;
      a, a:active, a:hover {
        color: nb-theme(text-hint-color);
      }
    }
  }
}
