.row
  .col-md-12
    %label
      {{'map.element.metric' | translate}}&nbsp;

      %a(ng-click="element.addNewMetric()" href="#")
        %i.fa.fa-plus

.row(ng-if="!element.metrics.length")
  .col-md-12.form-group
    {{"No data" | translate}}

.row(ng-repeat="metric in element.metrics track by $index")
  .col-md-12.form-group
    -#
    -#  select2
    -#
    .input-group(ng-init="from = ''")
      %ui-select(ng-model="element.metrics[$index]" theme="bootstrap")
        %ui-select-match(placeholder="{{'map.element.metric' | translate}}")
          %div(ng-if="metric")
            {{metric.name}}&nbsp;
            %span(ng-if="item.description.length")
              (
              %small.text-muted(ng-bind-html="item.description")
              )
        %ui-select-choices(repeat="item in element.metricList | filter: $select.search" refresh="element.refreshMetrics($select.search)" refresh-delay="0")
          %div
            %span(ng-bind-html="item.name | highlight: $select.search")
            %span(ng-if="item.description.length")
              (
              %small.text-muted(ng-bind-html="item.description | highlight: $select.search")
              )
        %ui-select-no-choice
          {{'No data' | translate}}

      %span.input-group-addon
        %a(ng-click="element.removeMetric($event, $index)" href="#" )
          .fa.fa-trash
