.row
  .col-md-6.form-group
    %label {{'map.element.prototype.metric.name' | translate}}*
    %input.form-control(ng-model="item.name")

.row
  .col-md-6.form-group
    %label {{'map.element.prototype.metric.description' | translate}}
    %input.form-control(ng-model="item.description")

.row
  .col-md-6.form-group
    %a(href="#" ng-click="item.addNewOptionItem()")
      .fa.fa-plus &nbsp;
      {{'device.action.add' | translate}}

.row(ng-if="item.optionItems.length")
  .col-md-12
    %h4 {{'map.element.prototype.metric.option_items' | translate}}

.row(ng-if="item.optionItems.length")
  .col-md-12.form-group
    .panel.panel-default
      .list-group-item( ng-repeat="optionItem in item.optionItems" )

        .row
          .col-md-6.form-group
            %label {{'map.element.prototype.metric.option_item.name' | translate}}*
            %input.form-control(ng-model="optionItem.name")

        .row
          .col-md-6.form-group
            %label {{'map.element.prototype.metric.option_item.description' | translate}}
            %input.form-control(ng-model="optionItem.description")

        .row
          .col-md-6.form-group
            %label {{'map.element.prototype.metric.option_item.translate' | translate}}
            %input.form-control(ng-model="optionItem.translate")

        .row
          .col-md-6.form-group
            %label {{'map.element.prototype.metric.option_item.color' | translate}}
            %input.form-control(ng-model="optionItem.color")

        .row
          .col-md-6.form-group
            %a.btn.btn-default.btn-xs(href="" role="button" ng-click="item.removeOptionItem($event, optionItem)" if-can="{map:['delete']}")
              {{'Delete' | translate}}
.row
  .col-md-6.form-group
    %a.btn.btn-default.btn-xs(href="" role="button" ng-click="element.prototype.removeMetric($event, item)" if-can="{map:['delete']}")
      {{'Delete' | translate}}
