.row
  .col-md-6.form-group
    %label {{'map.element.prototype.metric.name' | translate}}*
    %input.form-control(ng-model="item.name")

.row
  .col-md-6.form-group
    %label {{'map.element.prototype.metric.description' | translate}}
    %input.form-control(ng-model="item.description")

.row
  .col-md-6.form-group
    %label {{'map.element.prototype.metric.options' | translate}}
    %textarea.form-control(ng-model="item.options" rows="5")

.row
  .col-md-6.form-group
    %a.btn.btn-default.btn-xs(href="" role="button" ng-click="element.prototype.removeMetric($event, item)" if-can="{map:['delete']}")
      {{'Delete' | translate}}
