.form-group
  %laber {{'workflow.scenario.name' | translate}}*
  %input.form-control(ng-model="scenarios.current.name")

.form-group
  %laber {{'workflow.scenario.system_name' | translate}}*
  %input.form-control(ng-model="scenarios.current.system_name")