.row
  .col-lg-12
    %script-editor(ng-model="workflow.workflow.scripts" options="{isArray:true}")

.row
  .col-lg-12.form-group
    .pull-right
      %a.btn.btn-primary(href="" role="button" ng-click="ws.submit()" if-can="{workflow:['update']}")
        {{'Update' | translate}}