.row
  .col-lg-12
    %script-editor(ng-model="workflow.workflow.scripts")

.row
  .col-lg-12.form-group
    .pull-right
      %a.btn.btn-danger(href="" role="button" ng-click="device.remove()")
        {{'Delete' | translate}}
      %a.btn.btn-primary(href="" role="button" ng-click="device.submit()")
        {{'Update' | translate}}