.row
  .col-md-12
    .alert.alert-success(role="alert")
      %h4.alert-heading
        %span.fa.fa-lightbulb-o &nbsp;
        {{'workflow.help2.title' | translate}}
      %p
        {{'workflow.help2.message1' | translate}}
      %p
        {{'workflow.help2.message2' | translate}}
      %p
        {{'workflow.help2.message3' | translate}}
      %p
        {{'workflow.help2.message4' | translate}}

.row
  .col-md-6
    .row(if-can="{scenarios:['create']}")
      .col-md-12
        .form-group
          %a(href="#" ng-click="scenarios.addNew()")
            .fa.fa-plus &nbsp;
            {{'workflow.scenario.add' | translate}}
          &nbsp;
          &nbsp;
          &nbsp;

          %a(href="#" ng-click="scenarios.state='show'" ng-if="scenarios.state!='show'")
            .fa.fa-arrow-circle-o-left &nbsp;
            {{'Back' | translate}}


.row(ng-if="scenarios.state=='add' || scenarios.state=='edit'")
  .col-md-6

    %div(if-can="{scenarios:['create']}")
      %div(ng-include="'/workflow/templates/_scenario_form.html'" )

    .form-group
      .pull-right
        %a.btn.btn-danger(href="" role="button" ng-click="scenarios.remove()" ng-show="scenarios.current.id" if-can="{scenarios:['delete']}")
          {{'Delete' | translate}}

        %a.btn.btn-primary(href="" role="button" ng-click="scenarios.submit()" if-can="{scenarios:['create','update']}")
          %span(ng-show="!scenarios.current.id" if-can="{scenarios:['create']}")
            {{'Create' | translate}}
          %span(ng-show="scenarios.current.id" if-can="{scenarios:['update']}")
            {{'Update' | translate}}

        %a.btn.btn-default(href="" role="button" ng-click="scenarios.cancel()")
          {{'Cancel' | translate}}


.row(ng-if="scenarios.state=='show'")
  .col-md-12
    .list-group(ng-if="workflow.workflow.scenarios.length")
      .panel.panel-default
        -#.panel-heading
          {{'workflow.scenarios' | translate}}
        .list-group-item(href="#" ng-repeat="item in workflow.workflow.scenarios" )
          %strong.list-group-item-heading
            {{item.name}}
            &nbsp;
            %i.fa.fa-check(ng-if="workflow.workflow.scenario.id == item.id")

          .pull-right.small
            {{'Updated at' | translate}} {{item.updated_at | readableDateTime}}
          .clearfix
          .pull-right(if-can="{workflow:['update']}")
            %button.btn.btn-success.btn-xs(ng-click="scenarios.update_scenario(item, $event)" type="button")
              .fa.fa-play
              &nbsp;
              {{'workflow.scenario.do_scenario' | translate}}
          .pull-left.list-group-item-text
            %strong
              {{'workflow.scenario.system_name' | translate}}:
            .text-muted
              {{item.system_name}}
            %strong
              {{'workflow.scripts' | translate}}:
            .text-muted(ng-if="!item.scripts.length")
              {{'No scripts' | translate}}
            .text-muted(ng-repeat="script in item.scripts")
              {{script.name}}({{script.lang}})
          .clearfix

          .text-right
            %a(href="#" ng-click="scenarios.show(item); scenarios.state='edit'" if-can="{scenarios:['update']}")
              %i.fa.fa-pencil
            &nbsp;
            &nbsp;
            %a(href="#" ng-click="scenarios.show(item); scenarios.state='script_editor'" )
              %i.fa.fa-file-text-o

%div(ng-if="scenarios.state=='script_editor'")
  .row
    .col-lg-12
      %h4
        {{scenarios.current.name}}
        %span &nbsp;- {{'workflow.scenario.scripts_title' | translate}}

  .row
    .col-lg-12
      %script-editor(ng-model="scenarios.current.scripts" options="{isArray:true}")

  .row(ng-show="scenarios.current.id" if-can="{scenarios:['update']}")
    .col-lg-12.form-group
      .pull-right
        %a.btn.btn-primary(href="" role="button" ng-click="scenarios.submit()")
          {{'Update scenario' | translate}}
