%div(ng-if="device.device.type == 'smartbus'" )

  .form-group
    %label {{'device.baud' | translate}}
    %input.form-control(ng-model="device.device.properties.baud" type="number" )

  .form-group
    %label {{'device.timeout' | translate}}
    %input.form-control(ng-model="device.device.properties.timeout" type="number" )

  .form-group
    %label {{'device.sleep' | translate}}
    %input.form-control(ng-model="device.device.properties.sleep" type="number" )

  .form-group
    %label {{'device.stop_bite' | translate}}
    %input.form-control(ng-model="device.device.properties.stop_bits" type="number" )

  .form-group
    %label {{'device.tty' | translate}}
    %input.form-control(ng-model="device.device.properties.tty" type="string" )

%div(ng-if="device.device.type == 'modbus_rtu' && device.device.device.id != null || device.device.type == 'modbus_tcp' && device.device.device.id != null")
  .form-group
    %label {{'device.slave_id' | translate}}
    %input.form-control(ng-model="device.device.properties.slave_id" type="number" )

%div(ng-if="device.device.type == 'modbus_tcp' && device.device.device.id == null")
  .form-group
    %label {{'device.slave_id' | translate}}
    %input.form-control(ng-model="device.device.properties.slave_id" type="number" )

  .form-group
    %label {{'device.address_port' | translate}}
    %input.form-control(ng-model="device.device.properties.address_port" type="text" )

%div(ng-if="device.device.type == 'modbus_rtu' && device.device.device.id == null")

  .form-group
    %label {{'device.slave_id' | translate}}
    %input.form-control(ng-model="device.device.properties.slave_id" type="number" )

  .form-group
    %label {{'device.baud' | translate}}
    %input.form-control(ng-model="device.device.properties.baud" type="number" )

  .form-group
    %label {{'device.data_bits' | translate}}
    %input.form-control(ng-model="device.device.properties.data_bits" type="number" )

  .form-group
    %label {{'device.stop_bits' | translate}}
    %input.form-control(ng-model="device.device.properties.stop_bits" type="number" )

  .form-group
    %label {{'device.parity' | translate}}
    %input.form-control(ng-model="device.device.properties.parity" type="string" )

  .form-group
    %label {{'device.tty' | translate}}
    %input.form-control(ng-model="device.device.properties.tty" type="string" )

  .form-group
    %label {{'device.timeout' | translate}}
    %input.form-control(ng-model="device.device.properties.timeout" type="number" )

%div(ng-if="device.device.type == 'mqtt'")

  .form-group
    %label {{'device.mqtt_address' | translate}}
    %input.form-control(ng-model="device.device.properties.address" type="text" )

%div(ng-if="device.device.type == 'zigbee2mqtt'")

  .form-group
    %label {{'device.zigbee2mqtt_device' | translate}}
    -#
    -#  select2
    -#
    %ui-select(ng-model="device.device.properties.zigbee2mqtt_device" theme="bootstrap")
      %ui-select-match(placeholder="{{'device.zigbee2mqtt_device' | translate}}")
        {{device.device.properties.zigbee2mqtt_device.id}}
      %ui-select-choices(repeat="item in zigbee2mqttDevices | filter: $select.search" refresh="refresZigbee2mqtt($select.search)" refresh-delay="0")
        %div(ng-bind-html="item.id | highlight: $select.search")
      %ui-select-no-choice
        {{'No data' | translate}}

%div(ng-if="device.device.device.id == null && device.device.type == 'default' || device.device.type == 'command'")
  .form-group
    %label {{'device.no_params' | translate}}

