.row(if-can="{device_state:['create']}")
  .col-md-6
    .row
      .col-md-12
        .form-group
          %a(href="#" ng-click="status.addNew()")
            .fa.fa-plus &nbsp;
            {{'device.status.add' | translate}}

.row(if-can="{device_state:['read']}")
  .col-md-12
    .row(ng-repeat="_state in status.statuses" )
      .col-md-3
        .form-group
          %label {{'device.status.system_name' | translate}}*
          %input.form-control(ng-model="_state.system_name" type="text" ng-disabled="_state.id" )
      .col-md-6
        .form-group
          %label {{'device.status.description' | translate}}
          %input.form-control(ng-model="_state.description" type="text")
      .col-md-3
        .form-group
          %label {{'device.status.action' | translate}}
          .input-group-btn
            %button.btn.btn-default(ng-click="status.remove(_state)" if-can="{device_state:['delete']}")
              {{'Delete' | translate}}
            %button.btn.btn-default(ng-click="status.update(_state)" ng-show="_state.id" if-can="{device_state:['update']}")
              {{'Update' | translate}}
            %button.btn.btn-default(ng-click="status.create(_state)" ng-show="!_state.id" if-can="{device_state:['create']}")
              {{'Create' | translate}}