.row
  .col-md-12
    %h3 {{'device.index_form' | translate}}

.row(if-can="{device:['create']}")
  .col-md-12
    .form-group
      %a(ui-sref="dashboard.device.new")
        %i.fa.fa-plus
        &nbsp;
        {{'Add new' | translate}}

.row(if-can="{device:['read']}")
  .col-md-12
    .table(table="device.options")