.recovery-form
  .panel.panel-primary
    .panel-heading
      Recovery access
    .panel-body
      %form(name="recovery" ng-submit="submit()")
        .form-group(ng-if="error")
          .alert.alert-danger
            {{error}}
        .form-group
          %input.form-control(ng-model="email" type="email" placeholder="E-mail")
        .form-group.clearfix
          %a.pull-right(href="#" ui-sref="signin" )
            login form
        %input.btn.btn-default(type="submit" ng-disabled="!email")
          Recovery access
