.row
  .col-md-12
    %h3
      %a(href="" ui-sref="dashboard.metric.index")
        %small.fa.fa-long-arrow-left
          &nbsp;
      {{'metric.show_form' | translate}}, id: {{metric.id}}
      .edit-icon-link(if-can="{metric:['update']}")
        %a(ui-sref="dashboard.metric.edit({id:metric.id})")
          %span.fa.fa-pencil

    .pull-right.date-info-block
      .form-group
        %small
          {{'Created at' | translate}} {{metric.created_at | readableDateTime}}
        %small
          {{'Updated at' | translate}} {{metric.updated_at | readableDateTime}}

.row
  .col-md-2.col-sm-12
    .form-group
      .text-muted
        {{'metric.name' | translate}}
      %div
        {{::metric.name}}

    .form-group(ng-if="metric.description")
      .text-muted
        {{'metric.description' | translate}}
      %div
        {{::metric.description}}

    .form-group
      .text-muted
        {{'metric.type' | translate}}
      %div
        {{'metric.' + metric.type | translate}}

    .form-group(ng-if="metric.options.items.length")
      %strong
        {{'metric.items' | translate}}:

    .form-group(ng-repeat="item in metric.options.items")
      .text-muted
        {{'metric.option_item.name' | translate}}
      %div
        {{::item.name}}
      .text-muted
        {{'metric.option_item.description' | translate}}
      %div
        {{::item.description}}
      .text-muted
        {{'metric.option_item.color' | translate}}
      %div
        %i.fa.fa-square(ng-style="{'color': item.color}")&nbsp;
        {{::item.color}}

      .text-muted
        {{'metric.option_item.translate' | translate}}
      %div
        {{::item.translate}}
      .text-muted
        {{'metric.option_item.label' | translate}}
      %div
        {{::item.label}}

  .col-md-10.form-group(ng-if="data.length")
    %div(ng-include="'/metric/templates/_metric_charts.html'")

  .col-md-10(ng-if="!data.length")
    {{'No data' | translate}}

.row(ng-if="data.length")
  .col-md-2
  .col-md-10
    .row
      .col-md-4.form-group
        %label {{'metric.select_range' | translate}}:
        .input-group(ng-init="qwe = ''")
          %span.list-inline(ng-repeat="r in metric.ranges")
            %button.btn.btn-default.btn-sm( href="#" ng-click="selectRange(r)" ng-class="{active:r == range}")
              {{r}}
            &nbsp;

      .col-md-4.form-group
        %label {{'log.start_date' | translate}}
        .input-group(ng-init="from = ''")
          %input.form-control(pikaday="from" ng-model="from" number-of-months="1" on-select="setStartDay(date)")
          %span.input-group-addon
            %a(ng-click="setStartDay(null);from=null" href="#" )
              .fa.fa-close

      .col-md-4.form-group
        %label {{'log.end_date' | translate}}
        .input-group
          %input.form-control(pikaday="to" ng-model="to" number-of-months="1" on-select="setEndDay(date)")
          %span.input-group-addon
            %a(ng-click="setEndDay(null);to=null" href="#" )
              .fa.fa-close
