.row
  .col-md-12
    %h3 {{'metric.index_form' | translate}}

.row
  .col-md-12
    .alert.alert-success(role="alert")
      %h4.alert-heading
        %span.fa.fa-lightbulb-o &nbsp;
        {{'metric.help1.title' | translate}}
      %p
        {{'metric.help1.message' | translate}}

.row(if-can="{metric:['create']}")
  .col-md-12
    .form-group
      %a(ui-sref="dashboard.metric.new")
        %i.fa.fa-plus
        &nbsp;
        {{'Add new' | translate}}

.row(if-can="{metric:['read']}")
  .col-md-12
    .table(table="options")
