.row
  .col-md-12
    %h3 {{'node.index_form' | translate}}

.row(if-can="{node:['create']}")
  .col-md-12
    .form-group
      %a(ui-sref="dashboard.node.new")
        %i.fa.fa-plus
        &nbsp;
        {{'Add new' | translate}}

.row(if-can="{node:['read']}")
  .col-md-12
    .table(table="node.options")