.widget-header
  %i.fa.fa-dot-circle-o.status-icon
  .title
    %strong(translate="widget.name.{{widget.name}}")
  .widget-header-btns
    %a(title="settings" ng-click="openSettings()" href="#" )
      %i.fa.fa-cog
    %a(title="remove widget" ng-click="removeWidget()" href="#" )
      %i.fa.fa-trash
  .clearfix

  .widget-container
    .widget-content.service-version

      %dl
        %dt {{'widget.version.version' | translate}}
        %dd {{::ver.version}}

        %dt {{'widget.version.revision' | translate}}
        %dd(truncate-text="30")
          {{::ver.revision}}

        %dt {{'widget.version.revision_url' | translate}}
        %dd
          %a(target="_blank" truncate-text="30" ng-href="{{ver.revision_url}}")
            {{ver.revision_url}}

        %dt {{'widget.version.generated' | translate}}
        %dd {{::ver.generated | readableDateTime}}

        %dt {{'widget.version.developers' | translate}}
        %dd {{::ver.developers}}

        %dt {{'widget.version.build_num' | translate}}
        %dd {{::ver.build_num}}

        %dt {{'widget.version.docker_image' | translate}}
        %dd {{::ver.docker_image}}
