.script-editor
  .row
    .col-lg-3.file-list

      .form-group
        %strong
          {{'script.editor.file_list' | translate}}
          &nbsp;
          %small
            %a(ng-click="state = 'add'" href="#")
              .fa.fa-plus
      .form-group
        .file(ng-repeat="script in used_scripts" ng-class="{'active': script.id == current_script.id}" ng-click="select(script, $event)")
          {{script.name}}
          .file-action-icons
            %a(href="#" ng-click="edit(script, $event)")
              .fa.fa-pencil
            %a(href="#" ng-click="remove(script, $event)")
              .fa.fa-trash
          .clearfix

    .col-lg-9
      .form-group
        %strong {{'script.editor.body' | translate}}

      .form-group
        .ace-editor.form-control(ng-model="current_script.source" ui-ace="ace_options")

  %div(ng-include="'/core/templates/script_editor_dialog.html'")