.row
  .col-md-12
    %h3 {{ 'notifr.email_system' | translate }}

.row
  .col-md-12
    .form-group
      %a(ui-sref="dashboard.notifr.new_template" if-can="{template:['create']}")
        .fa.fa-plus
        &nbsp;
        {{'notifr.add_template' | translate}}
      %span(if-can="{template:['create']}")
        ,
        &nbsp;
      %a(ui-sref="dashboard.notifr.items" if-can="{template:['read']}")
        &nbsp;
        {{'notifr.element_of_template' | translate}}

.row(if-can="{template:['read']}")
  .col-md-12
    .table(table="ctrl.options")