.form-group
    %label {{'flow.name' | translate}}*
    %input.form-control(ng-model="flow.name")

.form-group
    %label {{'flow.status' | translate}}
    %select.form-control(ng-model="flow.status")
        %option(value="enabled")
            {{'flow.enabled' | translate}}
        %option(value="disabled")
            {{'flow.disabled' | translate}}

.form-group
    %label {{'flow.workflow' | translate}}
    %select.form-control(ng-model="flow.workflow.id" ng-options="wf.id as wf.name for wf in workflows")

.form-group
    %label {{'flow.description' | translate}}
    %textarea.form-control(ng-model="flow.description" rows="2" )

