.row
  .col-md-12
    %h3 {{'flow.index_form' | translate}}

.row
  .col-md-12
    .alert.alert-success(role="alert")
      %h4.alert-heading
        %span.fa.fa-lightbulb-o &nbsp;
        {{'flow.help1.title' | translate}}
      %p
        {{'flow.help1.message1' | translate}}
      %p
        {{'flow.help1.message2' | translate}}

.row(if-can="{flow:['create']}")
  .col-md-12
    .form-group
      %a(ui-sref="dashboard.flow.new")
        %i.fa.fa-plus
        &nbsp;
        {{'Add new' | translate}}

.row(if-can="{flow:['read']}")
  .col-md-12
    .table(table="options")
