.row
  .col-md-12
    %h3
      %a(href="" ui-sref="dashboard.flow.index")
        %small.fa.fa-long-arrow-left
          &nbsp;
      {{'flow.show_form' | translate}} "{{flow.name}}"
      .edit-icon-link(if-can="{flow:['update']}")
        %a(ui-sref="dashboard.flow.edit({id:flow.id})")
          %span.fa.fa-pencil

    .pull-right.date-info-block
      .form-group
        %small
          {{'Created at' | translate}} {{flow.created_at | readableDateTime}}
        %small
          {{'Updated at' | translate}} {{flow.updated_at | readableDateTime}}

.row
  .col-md-2
    .form-group
      .text-muted
        {{'flow.status' | translate}}
      %span.label.label-success(ng-if="flow.status == 'enabled'")
        {{"flow.enabled" | translate}}
      %span.label.label-default(ng-if="flow.status == 'disabled'")
        {{"flow.disabled" | translate}}

    .form-group
      .text-muted
        {{'flow.name' | translate}}
      %div
        {{::flow.name}}

    .form-group
      .text-muted
        {{'flow.workers' | translate}}
      %div(ng-if="!flow.workers.length")
        {{'No data' | translate}}
      %div
        .form-group(ng-repeat="worker in flow.workers")
          %div
            %small
              {{'worker.name' | translate}}:
              {{worker.name}}
          %div
            %small
              {{'worker.action_name' | translate}}:
              {{worker.device_action.name}}
          %div
            %small
              {{'worker.cron' | translate}}:
              {{worker.time}}

    .form-group(ng-if="flow.description")
      .text-muted
        {{'flow.description' | translate}}
      %div
        {{::flow.description}}

    .form-group
      .text-muted
        {{'flow.subscriptions' | translate}}
      %div(ng-if="!flow.subscriptions.length")
        {{'No data' | translate}}
      %div(ng-repeat="sub in flow.subscriptions")
        %small
          {{sub.topic}}

    .form-group
      .text-muted
        {{'flow.zigbee2mqtt' | translate}}
      %div(ng-if="!flow.zigbee2mqtt_devices.length")
        {{'No data' | translate}}
      %div(ng-repeat="dev in flow.zigbee2mqtt_devices")
        %small
          {{dev.name}}, {{dev.description}}

    .form-group
      %a(ng-click="showMqttPublishDialog($event)" href="#")
        {{'mqtt.publish' | translate}}

  .col-md-10(ng-controller="bpmnViewerCtrl" )
    #scheme1.scheme(style="height:400px;")
