.row
  .col-md-12
    %h3 {{'flow.index_form' | translate}}

.row(if-can="{flow:['create']}")
  .col-md-12
    .form-group
      %a(ui-sref="dashboard.flow.new")
        %i.fa.fa-plus
        &nbsp;
        {{'Add new' | translate}}

.row(if-can="{flow:['read']}")
  .col-md-12
    .table(table="options")