.row
  .col-md-12
    %h3
      {{'mqtt.publish' | translate}}

.row
  .col-md-12
    .form-group
      %label {{'mqtt.topic.qos' | translate}}*
      %input.form-control(ng-model="msg.qos" type="number")
    .form-group
      %label {{'mqtt.topic_name' | translate}}*
      %input.form-control(ng-model="msg.topic" type="text")
    .form-group
      %label {{'mqtt.payload' | translate}}
      %textarea.form-control(ng-model="msg.payload" rows="10" )

.row
  .col-md-12
    .pull-right
      %a.btn.btn-primary(href="" role="button" ng-click="submit()" if-can="{mqtt:['publish']}")
        {{'Submit' | translate}}
      %a.btn.btn-default(href="" role="button" ng-click="closeThisDialog()" )
        {{'Close' | translate}}