<nb-layout windowMode>

  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" state="compacted" responsive>

    <nb-sidebar-header>
      <div class="logo-container">
        <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
          <nb-icon icon="menu-2-outline"></nb-icon>
        </a>
        <a class="logo" href="#" (click)="navigateHome()"><span>Smart Home</span></a>
      </div>
    </nb-sidebar-header>

    <nb-menu [items]="menu"></nb-menu>

  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>
