.row
  .col-md-12
    %h3 {{'swagger.index_form' | translate}}

.row
  .col-md-12
    %iframe.ourframe(ng-src="{{swaggerUrl}}" width="100%" frameborder="1" height="1024px" marginheight="0" frameborder="0" onload="autoResize(this)")