.row
    .col-md-12
        .form-group
            %laber {{'scenario.name' | translate}}*
            %input.form-control(ng-model="scenario.name")


        .form-group
            %laber {{'scenario.system_name' | translate}}
            %input.form-control(ng-model="scenario.system_name")
