.row
  .col-md-12
    %h3
      %a(href="" ui-sref="dashboard.scenario.index")
        %small.fa.fa-long-arrow-left
          &nbsp;
      {{'scenario.show_form' | translate}} "{{scenario.name}}"
      .edit-icon-link
        %a(ui-sref="dashboard.scenario.edit({id:scenario.id})")
          %span.fa.fa-pencil

    .pull-right.date-info-block
      .form-group
        %small
          {{'Created at' | translate}} {{scenario.created_at | readableDateTime}}
        %small
          {{'Updated at' | translate}} {{scenario.update_at | readableDateTime}}

.row
  .col-md-2

    .form-group
      .text-muted
        {{'scenario.name' | translate}}
      %div
        {{::scenario.name}}

    .form-group
      .text-muted
        {{'scenario.system_name' | translate}}
      %div
        {{::scenario.system_name}}

  .col-md-5
    .form-group
      %strong
        {{'scenario.on_enter' | translate}}
        &nbsp;
        %a(href="#" ng-click="add_on_enter()")
          .fa.fa-plus-circle

    .form-group(ng-repeat="script in scenario.scripts" ng-if="script.state == 'on_enter'")
      .input-group
        -#
        -#  select2
        -#
        %ui-select(ng-model="script.script" theme="bootstrap")
          %ui-select-match(placeholder="{{'device.action.script' | translate}}")
            %div(ng-if="script.script")
              {{script.script.name}} ({{script.script.lang}})
          %ui-select-choices(repeat="item in scripts | filter: $select.search" refresh="refreshScripts($select.search)" refresh-delay="0")
            %div
              %span(ng-bind-html="item.name | highlight: $select.search")
              (
              %small.text-muted(ng-bind-html="item.lang | highlight: $select.search")
              )
          %ui-select-no-choice
            {{'No data' | translate}}
        %span.input-group-btn
          %button.btn.btn-default(type="button" ng-click="remove_script(script, $index)")
            {{'scenario.remove_script' | translate}}
          %button.btn(type="button" ng-click="save_script(script, $index)" ng-class="{'btn-default': script.id, 'btn-danger': !script.id}")
            {{'scenario.save_script' | translate}}

  .col-md-5
    .form-group
      %strong
        {{'scenario.on_exit' | translate}}
        &nbsp;
        %a(href="#" ng-click="add_on_exit()")
          .fa.fa-plus-circle

    .form-group(ng-repeat="script in scenario.scripts" ng-if="script.state == 'on_exit'")

      .input-group
        -#
        -#  select2
        -#
        %ui-select(ng-model="script.script" theme="bootstrap")
          %ui-select-match(placeholder="{{'device.action.script' | translate}}")
            %div(ng-if="script.script")
              {{script.script.name}} ({{script.script.lang}})
          %ui-select-choices(repeat="item in scripts | filter: $select.search" refresh="refreshScripts($select.search)" refresh-delay="0")
            %div
              %span(ng-bind-html="item.name | highlight: $select.search")
              (
              %small.text-muted(ng-bind-html="item.lang | highlight: $select.search")
              )
          %ui-select-no-choice
            {{'No data' | translate}}
        %span.input-group-btn
          %button.btn.btn-default(type="button" ng-click="remove_script(script, $index)")
            {{'scenario.remove_script' | translate}}
          %button.btn(type="button" ng-click="save_script(script, $index)" ng-class="{'btn-default': script.id, 'btn-danger': !script.id}")
            {{'scenario.save_script' | translate}}