.row
  .col-md-12
    %h3 {{'zigbee2mqtt.index_form' | translate}}

.row(if-can="{zigbee2mqtt:['create']}")
  .col-md-12
    .form-group
      %a(ui-sref="dashboard.mqtt.zigbee2mqtt_new")
        %i.fa.fa-plus
        &nbsp;
        {{'Add new' | translate}}

.row
  .col-md-12
    .table(table="options")
